body {
  background-color: steelblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  color: rgb(208, 216, 224);
  padding: 20px 40px;
  border-radius: 7px;
}

form {
  height: 50%;
  margin-bottom: 10%;
}

.title-container {
  text-align: center;
}

.title-container .title-form {
  font-size: 2.1rem;
  letter-spacing: 1px;
}

.title-container .title {
  font-style: italic;
  font-size: 0.9rem;
}

.campo {
  position: relative;
  margin-bottom: 5px;
  width: 100%;
  margin-top: 1rem;
}

.campo input {
  background-color: transparent;
  color:  #fff;
  border: 0;
  border-bottom: 2px solid #fff;
  display: block;
  font-size: 18px;
  width: 100%;
}

.campo input::placeholder {
  color: #fff;
  font-size: small;
}

.campo input:focus,
.campo input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

form .button {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: #2E4CEE;
  background: linear-gradient(119deg, #2E4CEE 0%, #221EBF 53.13%, #040F75 100%);
}

form .button:focus {
  outline: 0;
}

.or {
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 50px;
}

.logins {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.rodape {
  height: 20%;
  width: 110%;
  margin-top: 17px;
}

.rodape .termo{
  text-align: center;
}

.rodape .termos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 8px;
}
